{% extends '::layout.html.twig' %}
{% form_theme form ':Account/Partials:form.html.twig' %}

{% block content %}
    <div class="container nl-content">
        <div class="col-sm-9">
            <h3>{{ 'nilead.register' | trans }}</h3>
            <hr>

            <form class="form-horizontal nl-form" role="form" method="post" action="{{ path('nilead.account.frontend.account.registration.register') }}">

                {{ form_row(form._token) }}
                {{ form_row(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_row(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-primary">{{ 'nilead.register' | trans }}</button>
                        <button type="reset" class="btn btn-default">{{ 'nilead.reset' | trans }}</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <p>{{ 'nilead.already_have_an_account' | trans }} <a href="{{ path('nilead.account.frontend.account.login') }}">{{ 'nilead.login' | trans }}</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- .nl-content -->
{% endblock %}
